<div class="row">
    <div class="col-12">
        <table class="table table-bordered">
           <thead>
                <tr>
                    <th> Sr No</th>
                    <th> Role Name</th>                   
                </tr>
            </thead>
            <tbody>
                <tr *ngFor= "let item of roleList ; let srno = index">     <!--For this ngFor we need to add common module in .ts file -->  
                    <td>{{srno+1}}</td>
                    <td>{{item.role}} </td>
                </tr>
            </tbody>                       
        </table>
    </div>


    <div class="col-4">
        <select>           
                @for(role of roleList; track role)
                {
                    <option value="role.roleId">{{role.role}}</option>                    
                }
        </select>
    </div>
</div>
