<h2>Structural Directives</h2>


<h3> Using new formate ngIf </h3>
@if(a >b)
{
    a ={{a}} is greater than b ={{b}}
}
@else {b ={{b}} is greater than a ={{a}} }

<h3> Using new formate ngFor </h3>
@for(item of items; track item)
{
    <div>{{ item}}</div>
}

<h3> Using switch statement </h3>
@switch(userRole)
{
    @case("admin")
    {
        <p>user is admin</p>
    }
    @case("manager")
    {
        <p>user is admin</p>
    }
    @default
    {
        <p>user is default user</p>
    }

}

