<p>Designation</p>
<div class="row">
  @if (isLoader == true) {
  <div class="col-12 text-center">
    <div class="spinner-border"></div>
  </div>
  } @else { @for(item of designationList; track item) {
  <div class="col-3">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">{{ item.designation }}</h4>
        <!-- <p class="card-text">Some example text. Some example text.</p> -->
        <a href=""  class="card-link">Edit</a>
        <a href="" class="card-link">Delete</a>
      </div>
    </div>
  </div>
  } }
</div>
